.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: static;
    background-color: #ede9fe;
    margin-bottom: 10px;
}
.navigation nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    background-color: #ede9fe;
    margin-bottom: 10px;
    height: 100%;
}
ul{
    display: flex;
    align-items: center;
    height: 100%;
}
li{
    display: flex;
    margin: 0 1rem;
    
}
.navigation a{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}
.navigation a:hover,.isActive {
  color: #581c87;
  background-color: rgb(255, 255, 255);
}
.bage{
    display: flex;
    position: relative;
}
 .navigation span{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #581c87;
    color: white;
    font-size: 14px;
 }
 li.login{
    display: flex;
    align-items: center;
    justify-content: last baseline;
 }